html {
    background-color: black;
}
header {
    background-color: blue;
    height: 10vw;
    width: 90%;
    margin-left: 5%;
}
main {
    background-color: rgb(37, 161, 57);
    width: 90%;
    height: 39%;
    margin-left: 5%;
}
.flex-itens {
    display: flex;
    background-color: yellow;
    width: 15%;
    height: 39vw;
}
